#main {
    min-height: 100vh;

    .krasojizda-bg {
        background: #ed2f65;
        background: -moz-linear-gradient(-45deg, #ed2f65 0%, #2bbcff 100%);
        background: -webkit-linear-gradient(-45deg, #ed2f65 0%, #2bbcff 100%);
        background: linear-gradient(135deg, #ed2f65 0%, #2bbcff 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed2f65', endColorstr='#2bbcff', GradientType=1);
    }

    .card {
        color: #dddddd;
        background-color: #2a2f33;
        background-clip: border-box;
        border: 0px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem;
    }

    .card-header {
        padding: 0.65rem 1.25rem;
        margin-bottom: 0;
        /* background-color: rgba(0, 0, 0, 0.03); */
        color: #ffffff;
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    }

    button:focus {
        outline: 0px dotted;
        outline: 0px auto -webkit-focus-ring-color;
    }

    input,
    textarea {
        color: #dddddd;
        background: transparent;
        border: 1px solid #cccccc;
    }

    input:focus,
    textarea:focus {
        outline: 0 0 0 0 !important;
        box-shadow: 0 0 0 0 !important;
        border: 1px solid #ffffff;
    }

    input:checked {
        background: rgba(255, 255, 255, 1);
    }

    ::placeholder {
        color: #aaaaaa;
        opacity: 1;
    }

    :-ms-input-placeholder,
    ::-ms-input-placeholder {
        color: #aaaaaa;
    }

    .btn {
        color: #ffffff;
        background: transparent;
        border: 1px solid #dddddd;
    }

    .btn:hover {
        color: #ffffff;
        background: rgba(255, 255, 255, 0.10);
    }


    label {
        height: 13px;
    }

    label:hover {
        cursor: pointer;
    }

    .list-group-item {
        background-color: transparent;
    }

    .close:hover {
        color: #fff;
        text-decoration: none;
    }

    .alert {
        border: 0px solid transparent;
        margin-bottom: 1.25rem;
    }

    .alert-danger {
        color: #ffffff;
        border-color: transparent;
        background: rgb(52, 58, 64);
        background: -moz-linear-gradient(left, rgb(52, 58, 64) 0%, rgb(155, 31, 33) 50%, rgb(52, 58, 64) 100%);
        background: -webkit-linear-gradient(left, rgb(52, 58, 64) 0%, rgb(155, 31, 33) 50%, rgb(52, 58, 64) 100%);
        background: linear-gradient(to right, rgb(52, 58, 64) 0%, rgb(155, 31, 33) 50%, rgb(52, 58, 64) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#343a40', endColorstr='#343a40', GradientType=1);
    }

    .alert-warning {
        color: #ffffff;
        border-color: transparent;
        background: rgb(52, 58, 64);
        background: -moz-linear-gradient(left, rgb(52, 58, 64) 0%, rgb(107, 82, 21) 50%, rgb(52, 58, 64) 100%);
        background: -webkit-linear-gradient(left, rgb(52, 58, 64) 0%, rgb(107, 82, 21) 50%, rgb(52, 58, 64) 100%);
        background: linear-gradient(to right, rgb(52, 58, 64) 0%, rgb(107, 82, 21) 50%, rgb(52, 58, 64) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#343a40', endColorstr='#343a40', GradientType=1);
    }

    .alert-success {
        color: #ffffff;
        border-color: transparent;
        background: rgb(52, 58, 64);
        background: -moz-linear-gradient(left, rgb(52, 58, 64) 0%, rgb(29, 96, 19) 50%, rgb(52, 58, 64) 100%);
        background: -webkit-linear-gradient(left, rgb(52, 58, 64) 0%, rgb(29, 96, 19) 50%, rgb(52, 58, 64) 100%);
        background: linear-gradient(to right, rgb(52, 58, 64) 0%, rgb(29, 96, 19) 50%, rgb(52, 58, 64) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#343a40', endColorstr='#343a40', GradientType=1);
    }

    .alert-info {
        color: #ffffff;
        border-color: transparent;
        background: rgb(52, 58, 64);
        background: -moz-linear-gradient(left, rgb(52, 58, 64) 0%, rgb(30, 87, 153) 50%, rgb(52, 58, 64) 100%);
        background: -webkit-linear-gradient(left, rgb(52, 58, 64) 0%, rgb(30, 87, 153) 50%, rgb(52, 58, 64) 100%);
        background: linear-gradient(to right, rgb(52, 58, 64) 0%, rgb(30, 87, 153) 50%, rgb(52, 58, 64) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#343a40', endColorstr='#343a40', GradientType=1);
    }
}
