#main {
    position: relative;
    min-height: 100vh;
    background-color: #1b1e21;

    a {
        color: #dddddd;
        text-decoration: none;
    }

    a:hover {
        color: #ffffff;
        text-decoration: none;
    }

    p {
        margin-top: 0;
        margin-bottom: 0.3rem;
    }

    .dropdown-menu {
        color: #cccccc;
        background-color: #1b1e21;
        border: 0px solid rgba(0, 0, 0, 0.15);
        padding: 0.5rem 0;
        margin: 0.2rem 0 0 0;
        border-radius: 0 0 0.25rem 0.25rem;
        text-align: left;
    }

    .dropdown-item {
        color: #cccccc;
        padding: 0.5rem 1.5rem;
    }

    .dropdown-item:hover,
    .dropdown-item:focus {
        color: #fefefe;
        background-color: #2a2e33;
        border-radius: 0 0 0.25rem 0.25rem;
    }

    .dropdown-toggle::after {
        display: inline-block;
        margin-left: 0.255em;
        vertical-align: 0.1em;
        content: "";
        border-top: 0.3em solid;
        border-right: 0.3em solid transparent;
        border-bottom: 0;
        border-left: 0.3em solid transparent;
    }

    .dropdown-menu-center {
        right: auto;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }

    .proceed-link {
        background: #ed2f65;
        background: -moz-linear-gradient(-45deg, #ed2f65 0%, #2bbcff 100%);
        background: -webkit-linear-gradient(-45deg, #ed2f65 0%, #2bbcff 100%);
        background: linear-gradient(135deg, #ed2f65 0%, #2bbcff 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed2f65', endColorstr='#2bbcff', GradientType=1);
        padding: 1rem 2rem;
        border-radius: 0.25rem;
    }

    .krasojizda-bg {
        background: #ed2f65;
        background: -moz-linear-gradient(-45deg, #ed2f65 0%, #2bbcff 100%);
        background: -webkit-linear-gradient(-45deg, #ed2f65 0%, #2bbcff 100%);
        background: linear-gradient(135deg, #ed2f65 0%, #2bbcff 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed2f65', endColorstr='#2bbcff', GradientType=1);
    }

    .card {
        color: #dddddd;
        background-color: #2a2f33;
        background-clip: border-box;
        border: 0px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem;
    }

    .card-body {
        sup {
            top: -0.7em;
        }

        sub,
        sup {
            position: relative;
            font-size: 70%;
            line-height: 0;
            vertical-align: baseline;
        }

        .badge {
            display: inline-block;
            padding: 0.2em 0.4em;
            font-size: 70%;
            font-weight: bolder;
            line-height: 1;
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
            border-radius: 0.2rem;
            -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }

        .badge-color {
            color: #000000;
        }
    }

    .card-header {
        padding: 0;
        margin-bottom: 0;
        /* background-color: rgba(0, 0, 0, 0.03); */
        color: #ffffff;
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    }

    .card-header .row {
        margin-right: 0;
        margin-left: 0;
    }

    .card-header .col-left {
        padding: 0.7rem 1.25rem;
    }

    .modal-content {
        background-color: #2a2f33;
    }

    .modal-header {
        border-bottom: none;
    }

    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 2rem;
    }

    button:focus {
        outline: 0px dotted;
        outline: 0px auto -webkit-focus-ring-color;
    }

    input[type="text"],
    input[type="button"],
    input[type="email"],
    input[type="password"],
    textarea {
        color: #dddddd;
        background: transparent;
        border-bottom: 1px solid #cccccc;
    }

    input:focus,
    textarea:focus {
        outline: 0 0 0 0 !important;
        box-shadow: 0 0 0 0 !important;
        border: 1px solid #ffffff;
    }

    input:checked {
        background: rgba(255, 255, 255, 1);
    }

    ::placeholder {
        color: #aaaaaa;
        opacity: 1;
    }

    :-ms-input-placeholder,
    ::-ms-input-placeholder {
        color: #aaaaaa;
    }

    .btn {
        color: #ffffff;
        background: transparent;
        border: 1px solid #dddddd;
    }

    .btn:hover {
        color: #ffffff;
        background: rgba(255, 255, 255, 0.1);
    }

    label {
        height: 13px;
    }

    label:hover {
        cursor: pointer;
    }

    option {
        color: #dddddd;
        background-color: #2a2f33;
    }

    .border-top-grey {
        border-top: 1px solid #535353;
    }

    .border-bottom-grey {
        border-bottom: 1px solid #535353;
    }

    .list-group-item {
        background-color: transparent;
        border: 0px solid rgba(0, 0, 0, 0.125);
        padding: 0.5rem 0.75rem 0.25rem 0.75rem;
    }

    .list-group-item:last-child {
        margin-bottom: 0;
        border-bottom-right-radius: 0rem;
        border-bottom-left-radius: 0.25rem;
    }

    .list-group-item:first-child {
        border-top-right-radius: 0rem;
        border-top-left-radius: 0.25rem;
    }

    .close {
        color: #dddddd;
        text-decoration: none;
    }

    .close:hover {
        color: #ffffff;
    }

    .text-light {
        color: #c5cdd6 !important;
    }

    .alert {
        border: 0px solid transparent;
        margin-bottom: 0rem;
        padding: 0.20rem 0rem;
        border-radius: 0rem;
    }

    .alert-danger {
        color: #ff4447;
        background: -moz-linear-gradient(top, rgba(155, 31, 33, 0.55) 0%, rgba(0, 0, 0, 0) 100%);
        background: -webkit-linear-gradient(top, rgba(155, 31, 33, 0.55) 0%, rgba(0, 0, 0, 0) 100%);
        background: linear-gradient(to bottom, rgba(155, 31, 33, 0.55) 0%, rgba(0, 0, 0, 0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a69b1f21', endColorstr='#00000000', GradientType=0);
    }

    .alert-warning {
        color: #ffc746;
        border-color: transparent;
        background: -moz-linear-gradient(top, rgba(114, 90, 22, 0.55) 0%, rgba(0, 0, 0, 0) 100%);
        background: -webkit-linear-gradient(top, rgba(114, 90, 22, 0.55) 0%, rgba(0, 0, 0, 0) 100%);
        background: linear-gradient(to bottom, rgba(114, 90, 22, 0.55) 0%, rgba(0, 0, 0, 0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8c725a16', endColorstr='#00000000', GradientType=0);
    }

    .alert-success {
        color: #3dff74;
        border-color: transparent;
        background: -moz-linear-gradient(top, rgba(0, 137, 39, 0.55) 0%, rgba(0, 0, 0, 0) 100%);
        background: -webkit-linear-gradient(top, rgba(0, 137, 39, 0.55) 0%, rgba(0, 0, 0, 0) 100%);
        background: linear-gradient(to bottom, rgba(0, 137, 39, 0.55) 0%, rgba(0, 0, 0, 0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6008927', endColorstr='#00000000', GradientType=0);
    }

    .alert-info {
        color: #6bb0ff;
        border-color: transparent;
        background: -moz-linear-gradient(top, rgba(30, 87, 153, 0.55) 0%, rgba(0, 0, 0, 0) 100%);
        background: -webkit-linear-gradient(top, rgba(30, 87, 153, 0.55) 0%, rgba(0, 0, 0, 0) 100%);
        background: linear-gradient(to bottom, rgba(30, 87, 153, 0.55) 0%, rgba(0, 0, 0, 0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8c1e5799', endColorstr='#00000000', GradientType=0);
    }

    .floating-label {
        padding-top: 0.75rem;
        position: relative;
    }

    .floating-label label {
        -webkit-transform-origin: 0 0;
        color: #aaaaaa;
        display: block;
        font-size: 1rem;
        left: 0;
        line-height: 1.5;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 1.125rem;
        transform-origin: 0 0;
        transition-duration: 0.3s;
        transition-property: color, top, -webkit-transform;
        transition-property: color, top, transform;
        transition-property: color, top, transform, -webkit-transform;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .floating-label .custom-select,
    .floating-label .form-control,
    .floating-label .form-control-file {
        position: relative;
    }

    .custom-select,
    .form-control,
    .form-control-file {
        background-clip: padding-box;
        background-color: transparent;
        border: 1px solid #cccccc;
        border-radius: 0;
        border-width: 0 0 1px;
        box-shadow: none;
        color: inherit;
        display: block;
        font-size: 1rem;
        line-height: 1.5;
        padding: 0.375rem 0 calc(0.375rem - 1px);
    }

    button,
    input {
        overflow: visible;
    }

    .floating-label label {
        transition-duration: 0.2s;
    }

    :focus {
        outline: -webkit-focus-ring-color auto 1px;
    }

    .floating-label.is-focused label {
        color: #dddddd;
    }

    .floating-label.has-value label,
    .floating-label.is-focused label {
        top: 0;
        transform: scale(0.75);
    }

    .custom-select:focus,
    .form-control-file:focus,
    .form-control:focus {
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-color: #ffffff;
        box-shadow: none;
        outline: 0;
    }

    .custom-select:hover,
    .form-control-file:hover,
    .form-control:hover {
        border-color: #ffffff;
        box-shadow: none;
    }

    .plus {
        display: inline-block;
        width: 17px;
        height: 17px;
        margin-bottom: -4px;
        background: linear-gradient(#ffffff, #ffffff),
            linear-gradient(#ffffff, #ffffff);
        background-position: center;
        background-size: 100% 1px, 1px 100%;
        background-repeat: no-repeat;
    }

    .crud-button {
        display: inline-block;
        color: #ffffff;
        background-color: rgba(0, 0, 0, 0.1);
        border: none;
        font-size: 0.9rem;
        font-family: serif;
        text-decoration: none;
        text-align: center;
        width: 3.063rem;
        padding: 0.7rem 1rem;
    }

    .crud-button:hover {
        text-decoration: none;
        background-color: rgba(0, 0, 0, 0.2);
    }

    .w-90 {
        width: 90% !important;
    }

    .unimportant-text {
        color: #898989;
    }

    .list-inline {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
    }

    .blog-post-title a {
        color: #dddddd;
        text-decoration: none;
    }

    .blog-post-title a:hover {
        color: #ffffff;
        text-decoration: none;
    }

    .img-thumbnail {
        padding: 0.25rem;
        background-color: transparent;
        border: none;
        max-width: 100%;
        height: auto;
    }

    .smaller {
        font-size: small;
    }

    .color-radio-buttons {
        @keyframes fade {

            0%,
            50% {
                opacity: 0;
                transform: scale(0);
            }
        }

        label {
            display: inline-block;
            margin-right: 0.2rem;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            transition: all .2s ease-in-out;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
            animation-duration: 1.6s;
        }

        .color-radio:checked+label {
            animation-play-state: paused;
        }

        label:before {
            content: "";
            position: absolute;
            width: 20px;
            height: 20px;
            margin: 10px;
            background: white;
            border-radius: 50%;
            box-shadow: rgba(0, 0, 0, 0.117647) 0 0 16px 0, rgba(0, 0, 0, 0.239216) 0 16px 16px 0;
            transition: all .2s;
        }

        label:hover:before {
            box-shadow: rgba(0, 0, 0, 0.0784314) 0 0 20px 0, rgba(0, 0, 0, 0.239216) 0 20px 20px 0;
        }

        label:after {
            content: "";
            position: absolute;
            width: 40px;
            height: 40px;
            background: rgba(255, 255, 255, .5);
            border-radius: 50%;
            transform: scale(0);
        }

        .color-radio:checked+label:after {
            background: transparent;
            transition: all .5s;
            transform: scale(1);
        }

        .color-radio+label {
            left: -1200px;
            animation-delay: 0s;
        }

        .color-radio+label:before {
            transform: scale(0);
        }

        .color-radio:checked+label:before {
            transform: scale(1);
            transition: all .4s;
        }

        [type="radio"] {
            display: none;
        }
    }

    .critical-period {
        color: #62ff8f !important;
    }

    .critical-period:hover {
        color: #ffffff !important;
    }

    .short-period {
        color: #b9ffcd !important;
    }

    .short-period:hover {
        color: #ffffff !important;
    }

    .long-period {
        color: #afafaf !important;
    }

    .long-period:hover {
        color: #ffffff !important;
    }
}
