#app .card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    /* background-color: rgba(0, 0, 0, 0.03); */
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    background: #ed007e;
    background: -moz-linear-gradient(-45deg, #ed007e 0%, #ea3c96 30%, #3eafe0 70%, #3eafe0 70%, #009be2 100%);
    background: -webkit-linear-gradient(-45deg, #ed007e 0%, #ea3c96 30%, #3eafe0 70%, #3eafe0 70%, #009be2 100%);
    background: linear-gradient(135deg, #ed007e 0%, #ea3c96 30%, #3eafe0 70%, #3eafe0 70%, #009be2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed007e', endColorstr='#009be2', GradientType=1);
    color: #ffffff;
}

#app button:focus {
    outline: 0px dotted;
    outline: 0px auto -webkit-focus-ring-color;
}
