#welcome {
    position: relative;
    min-height: 100vh;
    background-color: #1b1e21;

    a {
        color: #dddddd;
        text-decoration: none;
    }

    a:hover {
        color: #ffffff;
        text-decoration: none;
    }

    
}
